<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="black">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content scrollY="true" *ngIf="Serie() != null" no-padding force-overscroll="true"
>
  <img alt="poster" src="{{Serie().poster}}"/>
  <div class="overlay">


  </div>
  <div class="media-body">
    <ion-grid>
      <ion-row class="media-header">
        <ion-col col-12 class="media-title">
          <div class="padding-top">
            <span class="title">{{Serie().title}}</span>

          </div>

          <div *ngIf="type == 'movie'">
            <span>{{Serie().year}}</span>
            <span class="maturity-number pegi"><strong>{{Serie().rated}}</strong></span> <span class="pegi">{{Serie().runtime}}</span><span
            class="nf-icon-button nf-flat-button nf-flat-button-primary nf-flat-button-movie">{{type === 'movie' ? 'Movie' : 'Series'}}
              </span>
          </div>


        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
          <p>{{Serie().plot}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="lightGrey">Avec : {{Serie().actors}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="lightGrey">Directors : {{Serie().director}}</p>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col col-7 col-md-3>
          <button ion-button color="light" outline (click)="addToFav()">
            <ion-icon name="add"></ion-icon>
            <span class="iconMarge">Ajouter a ma liste</span></button>

        </ion-col>
        <ion-col col-5 col-md-3>
          <button ion-button color="danger" (click)="share()">
            <ion-icon name="share"></ion-icon><span class="iconMarge">Partager</span></button>


        </ion-col>

      </ion-row>
      <ion-row *ngIf="type != 'movie'">
        <ion-col col-12 text-left>
          <h3>Saisons</h3>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="type != 'movie'">
        <ion-col col-12 text-left>
          <h5>Nombre de saisons : {{ Serie().totalSeasons }}</h5>
          <ion-list class="ion-list" inset>
            <button class="ion-item" ion-item *ngFor="let season of Serie().totalSeasons | grid : 1"  (click)="goToSeasonDetails(season)">
              Seasons : {{season}}
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-md-6>
          <h5 class="text-quiet">Remise(s):</h5>
          <div>{{Serie().awards === 'N/A' ? 'Aucune' : Serie().awards}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-md-6>
          <h5 class="text-quiet">Note IMDB:</h5>
          <div *ngIf="Serie().imdbRating < 4">
            <button ion-button color="danger" round>{{Serie().imdbRating}} with : {{Serie().imdbVotes}} votes
            </button>
          </div>
          <div *ngIf="Serie().imdbRating >= 4 && Serie().imdbRating <7 ">
            <button ion-button color="alert" round>{{Serie().imdbRating}} with : {{Serie().imdbVotes}} votes</button>
          </div>
          <div *ngIf="Serie().imdbRating >= 7">
            <button ion-button color="secondary" round>{{Serie().imdbRating}} with : {{Serie().imdbVotes}} votes</button>
          </div>

        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-4 col-md-3>
          <h5 class="text-quiet">Site web</h5>
          <p>{{Serie().website}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 col-md-3>
          <h5 class="text-quiet">Site web</h5>
          <p>{{Serie().website}}</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
